:root {
  --main-color: whitesmoke;
  --heading-color: lightcoral;
  --quote-color: rgb(150, 58, 58);
  --text-color: #5e2525;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--main-color);
  padding-bottom: 40px;
}

.form-wrapper {
  background-color: #ffeeef;
  border: 1px solid #e74c3c;
  box-shadow: 0px 3px 6px rgba(231, 76, 60, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* Add this line to make the container a flex container */
  justify-content: center;
  /* Center the content horizontally */
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  font-size: 2.3rem;
  margin-bottom: 30px;
  color: var(--heading-color);
  text-shadow: 2px 2px 4px #692828;
  animation: appear 3s forwards;
  /* Applying the appear animation */
  opacity: 0;
  /* Hide the text initially */
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.messageHeading {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #555;
  text-align: center;
}

.input-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.input-item {
  flex-basis: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

.input-item input,
.input-item textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.input-item textarea {
  resize: vertical;
  height: 150px;
}

.btn {
  width: 40%;
  padding: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #c0392b;
}

.contact-details {
  background-color: var(--second-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px #e7dddc;
  text-align: center;
  border-radius: 10px;
  padding: 0px 30px;
  padding-bottom: 20px;
}

.contact-details h3 {
  font-size: 1.5rem;
  margin-bottom: 35px;
  color: var(--heading-color);
}

.contact-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-details strong {
  color: #666;
}

/* Social media icons styles */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightcoral;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: rgb(222, 97, 97);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .input-box label {
    margin-bottom: 10px;
  }
}