@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;700&family=Roboto:wght@300;700&display=swap');

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightcoral;
  /* Change this to your desired background color */
  color: #DAFFFB;
  /* Change this to your desired text color */
  padding: 7px 7px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
  transition: all 0.2s ease;
}

.logo-container a:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

.logo {
  /* width: 50px;  */
  height: 40px;
  margin-right: 5px;
  margin-left: 10px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 5px;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
}

/* Style links in the navbar */
.nav-link a:hover {
  text-decoration: underline;
}

/* Style the "Log Out" button */
.nav-link button {
  border: none;
  background: none;
  color: #DAFFFB;
  cursor: pointer;
}

.nav-link button:hover {
  text-decoration: underline;
}

.logout {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #DAFFFB;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.2s ease;
}

.logout img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  transition: all 0.2s ease;
}

/* Add hover styles */
.logout:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.logout:hover img {
  width: 35px; 
  height: 35px; 
}